header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: space-between;
    align-items:center;
    padding: 92px 50px 95px;
    gap: 10px;
    list-style: circle;
  }

.header__menu{    /*высота 133 отступ с лева 50 низ 139*/
  display: flex;  
  justify-content: space-between;
}

.header__links-list{
display: flex;
list-style: circle;
font-size: 18px;
text-transform: lowercase;
gap: 34px;

}
.header__links-list-item{
list-style: none;
}
 
.header__link{
list-style: none;
}
  
.header__links-list-item_no-bullit{
  list-style: none;
  text-decoration: none;

}
.header__link_active { 
text-decoration: none; /*Ссылка без подчёркивания*/
}


.address{
display: block;
margin-bottom: 10px;
max-width: 1100px;
justify-self:end;
}

.address a{
  text-decoration-thickness: 1px;
  text-underline-offset: 3.3px;
}

.header__logo{
display: block;
width: 148px;
height: 105px;
grid-template-columns: 1fr min-content 1fr;
margin-left: auto;

}

.header__logo-image{ /*Размер логотипа*/
  width: 129,11px;
  height: 104,65;
  
}

.header__links-list-item_no-bullit{ /*Ссылка без кружочка*/
  text-decoration: none;
  border-bottom: 0;
}
.cover {
    position: relative;
    height: 575px;
    width: 1100px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -2;
    
    
    }
    .cover_title{
      margin: 165px 50px 50px 50px;
      bottom: 207px;
      margin-top: 165;
      margin-right: 40px;
      margin-left: 50px;
      margin-bottom: 105px;
      
    }

    .aligned-text{
      display: block;
      padding-bottom: 20px;
      color: #fff;
      font-family: 'Ralaway', 'Arial', 'Helvetica', 'sans-serif';
      font-weight: 700px;
      font-size: 100px;
      font-style: normal;
      letter-spacing: 0.3em;
      line-height: 115%;
      text-transform: uppercase;
      
      }
      .aligned-text_center{
      text-align: center;
      }
    
    .aligned-text_center__no-letter-spacing{
      text-align: right;                 /*Как то подвинуть в право*/
    }
    
    .cover__description{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 50px;
      margin-top: 107px;
      z-index: 3;
    }
    .cover__description-text{
     position: relative;
     display: flex;
     text-transform: uppercase;
     font-weight: 400px;
     font-size: 22px;
     line-height: 28px;
     color: #ffff;
     word-spacing: 20px;
     z-index: 3;

}

   .bet-button{
    display: block;
    border: 1px solid #ffff;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    color: #ffff;
    min-width: 256px;
    min-height: 51px;
    font-weight: 500;
    font-size: 22px;
    z-index: 3;
    
   }
    
   .no-letter-spacing{  /*Обнуление межстрочного расстояния*/
    letter-spacing: 0;
   }  

    .overlay{        
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.6);
    } 


    .lots{
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;       /* Не точно */
      
    }

    .lots__card-list{
      display: flex;
      flex-direction: row;
      gap: 25px;
      list-style-type: none;
      padding: 0;            /* Убираем стандартный отступ списка */
      margin: 0;             /* Убираем стандартный отступ списка */
     
    }

    .card{
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      width: 334px;
      height: 596px;
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
       
    }

    .lots__heading {
      color: #000000;
      font-family: 'Raleway';
      text-transform: uppercase;
      line-height: 100%;
      font-size: 40px;
      font-weight: 700;
     
      
    }

    .card__title{
      padding: 48px 40px 48px 40px;
      position: relative;
      font-family: 'Raleway';
      font-style: normal;
      font-size: 22px;
      line-height: 120%;
      font-weight: 700;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #ffffff;
      z-index: 1;

    }

    .card__text{
      font-size: 20xp;
      font-style: normal;
      font-family: 'Raleway';
      line-height: 120%;
      font-weight: 400;
      color: #ffffff;
      z-index: 2;

    }
    .lots__look-more-link{
      font-size: 20xp;
      font-style: normal;
      font-family: 'Raleway';
      margin-left: 40px;
      color: #ffffff;
      z-index: 2;
      
    }
    .card_type_film{
      background-image: url(../images/card-lot-01.jpg);
    }

    .card_type_book {
      background-image: url(../images/card-lot-02.jpg);
    }

    .card_type_picture{
      background-image: url(../images/card-lot-03.jpg);
    }

    .about {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      align-items:center;
      padding: 91px 50px 91px 50px;
      gap: 240px;
      list-style: circle;
    }
    .about__column{
      width: 100%;
      
    }

    .about__text p:first-of-type{
      margin-bottom: 24px;

    }
    .about__column p{
      width: 100%;}
      
    
      .about__logo-image{
       width: 148;
       height: 114;
      }

      .about_logo{
      background-color: #000000;
      border-radius: 50%;
      right: 765xp;
      height: 240px;
      width: 240px;
      margin-left: 47px;
      padding: 64px 46px 62px 46px;
      
      
      }
      .about__title{
        margin-left: 25px;
        margin-top: 100px;
        margin-bottom: 412;
        font-family: 'Raleway';
        font-style: normal;
        text-transform: uppercase;
        text-decoration-line: underline;
        font-size: 40px;
        line-height: 120%;
        font-weight: 700;
        line-height: 47px;
        

       }
      .about__text{
        position: relative;
        font-family: 'Raleway';
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #000000;
        }

        .about__text-paragraph{
          margin-bottom: 179px;
        
        }
   
       /*.about__text-paragraph:last-child {
          margin-bottom: 0px;
       }*/

       
        
      
  
      /*.footer_address{
      right: 50px;
      display: block;
      margin-bottom: 10px;
      max-width: 1100px;
      justify-self:end;
      }*/

      .footer{
        display: flex;
        margin-bottom: 133px;
        padding-top: 35px;
      } 

    .footer__social-list{
      display: flex;
      justify-self: end;
      gap: 48px;
      list-style:none;
    }
    .footer__social-list-item{
      width: 48px;
      height: 48px;

    } 
    .footer__menu-link_active{
    text-decoration: none;     /*Ссылка без подчёркивания*/
}