header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 91px 50px 91px 50px;
    gap: 10px;
    list-style:circle;
  }

.header__menu{
list-style: none;

}

.header__links-list{
display: flex;
list-style:circle;
font-size: 18px;
text-transform: lowercase;
gap: 32px;

}

.header__links-list-item_no-bullit{
list-style: none;

}
.header__logo{
display: flex;
width: 20%;
grid-template-columns: 1fr min-content 1fr;
margin-left: auto;
}


.cover {
    position: relative;
    height: 575px;
    width: 1100px;
    background-image: url(..image/cover.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: 1;
    
    }
    .cover_title{
        height: 385px;
        right: 50px;
        left: 50px;
        top: 165px;
        bottom: 207px;
        margin: 165px 40px 105px 50px;
    
        }
    
    #overlay{        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(5, 5, 5);
    z-index: -1;
    } 
    
    .cover__description{
     word: spacing 28px;

    }
    .cover__description-text{
    list-style: none;

    }

    .bet-button{
    background-color: transparent;
    }

    .lots {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
    }

    .about{
    width: 1052;
    height: 595;
    top: 2073px;
    left: 24px;

    }
    .about__title{
    width: 291;
    height: 47;
    top: 3px;

    }
    .about__text{
    width: 688;
    height: 120;
    top: 150px;

    }

    .about__logo-image{
    
    width: 100px;
    height: 100px;
    top: 10px;
    left: 4.42px;
    
        
        
    }

    .about__logo {
   
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid black;
    
          

    }

    .card {
    display: flex;

    }
    .card__title{
        width: 121;
        height: 47;
        left: 40px;
        color: black;
 
       }
    .card__text{
    width: 254;
    height: 144;
    top: 404px;
    left: 40px;

    }   
    
    
    .aligned-text{
    display: block;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Ralaway', 'Arial', 'Helvetica', 'sans-serif';
    font-weight: 700px;
    font-size: 100px;
    font-style: normal;
    letter-spacing: 0.3em;
    line-height: 115%;
    text-transform: uppercase;
    
    }
    .aligned-text_center{
    list-style: none;

    }
    footer {
        border-top: 1px dotted #fa0e0e;
        padding: 20px 40px;
      }
    